@font-face {
  font-family: 'AlegreyaSansSC';
  src: url(./assets/AlegreyaSansSC-Regular.ttf) format('truetype');
}

html, body, #page-container, #et-main-area, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-footer {
  display: none;
}

.cursor-pointer #root {
  cursor: pointer;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#root h1 {
  font-family: 'AlegreyaSansSC', sans-serif;
  text-align: center;
  margin-top: 200px;
  font-size: 96px;
  color: #052464;
  margin-bottom: 0px;
}

#root h1 img {
  height: 96px;
  vertical-align: text-bottom;
}

#root p {
  text-align: center;
  margin-top: 0;
}

#root .pointer {
  display: inline-block;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.html3d {
  background-color: rgba(255, 255, 255, 0.95);
  border: 2px solid #052464;
  border-radius: 5px;
  padding: 15px;
  width: 700px;
  max-width: calc(85vw - 30px);
  font-size: 16px;
  /* hide until visible */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.html3d.visible {
  opacity: 1;
  pointer-events: all;
}

.html3d h4, .html3d h3, .html3d h2 {
  text-align: center;
}

.html3d p {
  text-align: justify;
}

.html3d p.center {
  text-align: center;
}

.html3d h2 a {
  text-decoration: none;
  color: initial;
}

#root .overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#root .overlay iframe {
  max-width: 90%;
  max-height: 90%;
}


@keyframes floating {
  0% { transform: translate(0,  -3px); }
  50%  { transform: translate(0, 3px); }
  100%   { transform: translate(0, -3px); }
}