@font-face {
  font-family: 'PressStart2P-Regular';
  src: url(./assets/PressStart2P-Regular.ttf) format('truetype');
}

 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #page-container, #et-main-area, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  /* stacking context to swap canvas & 2d text */
  position: relative;
  z-index: 0;
}

#main-footer {
  display: none;
}

.cursor-pointer #root {
  cursor: pointer;
}


/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

#root h1 {
  font-family: 'PressStart2P-Regular', sans-serif;
  text-align: center;
  margin-top: 200px;
  font-size: 96px;
  color: #052464;
  margin-bottom: 0px;
}

#root h1 img {
  height: 96px;
  width: 96px;
  vertical-align: text-bottom;
}

#root p {
  text-align: center;
  margin-top: 0;
}

#root .pointer {
  display: inline-block;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.html3dContainer.occluded {
  opacity: 0;
}


#root .html3d {
  background-color: #9966FF;
  border: 10px solid #CCCCFF;
  color: white;
  border-radius: 5px;
  padding: 15px;
  width: 700px;
  max-width: calc(90vw - 30px);
  font-size: 16px;
  /* hide until visible */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
  box-shadow:
  0 0 0 10px white,
  0 0 0 15px #000066;
}

#root .html3d.visible {
  opacity: 1;
  pointer-events: all;
}

#root .html3d h4, .html3d h3, .html3d h2 {
  text-align: center;
  font-family: 'PressStart2P-Regular';
}

#root .html3d p {
  text-align: justify;
}

#root .html3d p a {
  color: #00FFFF;
}


#root .html3d p.center {
  text-align: center;
}

#root .html3d h2 a {
  text-decoration: none;
  color: initial;
  font-size: 22px;
  color: #00FFFF;
}

#root .html3d h2 a:focus-visible, #root a:focus-visible {
  text-decoration: underline;
}

#root .overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#root .overlay iframe {
  max-width: 90%;
  max-height: 90%;
}


#root #simple-loader {
  background: #acbfd0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes floating {
  0% { transform: translate(0,  -3px); }
  50%  { transform: translate(0, 3px); }
  100%   { transform: translate(0, -3px); }
}

#root immers-hud {
  color: white;
  bottom: 0;
  right: 0;
  padding-bottom: 10px
}

#root immers-hud[open="true"] {
  background-color: rgba(12, 29, 57, 0.76);
}

#portal-2d {
  position: absolute;
  inset: 0;
  overflow: auto;
  background-color: white;
  padding-top: 80px;
}

#portal-2d.show {
  z-index: 100;
}

#portal-2d div {
  position: static !important;
  transform: none !important;
}

#root #portal-2d .html3d {
  opacity: 1;
  margin: 50px auto;
  max-width: 800px;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 769px) {
  #root immers-hud {
    transform: scale(1.5, 1.5);
    transform-origin: bottom right;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 768px) {
  #root .html3d p {
    font-size: 14px;
    line-height: 1.5em;
  }

  #root h1 {
    margin-top: 100px;
    font-size: 72px;
  }
}
